pao_player_base/cmake-build-debug
pao_player_cli/cmake-build-debug
pao_player_cli/cmake-build-release
pao_player_cli/.idea
pao_player_base/.idea
pao_player_cli/compile_commands.json
pao_player_cli/.cache
.idea
